/* Create two unequal columns sthat floats next to each other */

/*  Copy and paste your work, or start typing. */
.recipe-instructions-container {
  display: flex;
  padding: 20px;
}

.comment-column {
  width: 30%;
  background-color: white;
}

.instruction-column  {
  width: 70%;
}

/* this works now--I added 'px' to the width */
/* columns should stack under 900px */
@media screen and (max-width: 900px) {
  .recipe-instructions-container {
    display: block;
  }
  .comment-column,
  .instruction-column  {
    width: 100%;
  }
}

/* .comment-column {
  float: left;
  padding: 10px;
}
.instruction-column {
  float: left;
  padding: 10px;
} */

/* Don't Repeat Yourself */

/* .left {
  width: 30%;
  background-color:#aaa;
}

.right {
  width: 70%;
  background-color:#bbb
} */

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */