.instruction-container {
  padding: 10px;
  color: white;
}

.recipe-name {
  background: blue;
}

.recipe-instructions {
  background: beige;
}

.recipe-section {
  background: yellow;
}

.recipe-steps {
  background: pink;
}