.profile-container {
    display: flex;
    padding: 20px;
    text-align: center;
  }
  
  .profile-info-column {
    width: 30%;
    background-color: white;
    height: 500px
  }
  
  .profile-recipes-column  {
    width: 60%;
  }
  
  .profile-location {
      color: red;
  }

  .profile-bio {
      color: lightgray;
  }

  .awards-list {
      color: lightgray;
      font-weight: bold;
  }